#hud {
    background-color: #ffff64;
    box-shadow: 0 4px 6px 0 hsla(0%, 0%, 0%, 0.2);
}

#question {
    background-color: black;
    border: #ffff64 2px solid;
    color: white;
    margin-top: 10%;
}

#rules {
    background: #ffff64;
    color: black;
    margin-top: 10%;

}

#subscribe {
    background-color: transparent;
    margin-top: 15%;

}

#subscribe input {
    font-size: 27px;
}

.loader {
    border: 16px solid #ffff64;
    border-radius: 50%;
    border-top: 16px solid #2d2d2d;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    margin: 0;
    padding: 0;
    background: url(../assets/images/bgmic.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

main {
    height: 70vh;
}

.rapoetry button {
    color: black;
    background-color: #ffff64;
}

.center-el {
    display: flex;
    align-items: center;
    justify-content: center;
}


.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid white;
    outline: 0;
    font-size: 16px;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 16px;
    cursor: text;
    top: 20px;
}

label,
.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: white;
}

.form__field:focus~.form__label {
    color: #ffff64;
}

.form__field:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #ffff64;
}